body{
  background-color: lightsteelblue; 
  text-align: center;
}
form{
    margin: auto;
    background-color: lightcoral ;
    padding: 30px;
    width: 600px;
    border-radius: 10px;
}
.divOfToDo{
    margin: auto;
    text-align: left;
    background: white;
    border-radius: 10px;
    width: 250px; 
    margin-bottom: 5px;
    display: flex; 
    justify-content: space-between;
}
.listOfToDo{
    flex: 1;
}
.checkBtn{
    background-color: lightgreen; 
}
.deleteBtn{
    background-color: lightcoral;
}
.mark{
    color: grey;
    text-decoration-line: line-through;   
   }